@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* html & body setting */

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Code Pro", "Pretendard", -apple-system,
    BlinkMacSystemFont, system-ui, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* color setting */
:root {
  --primary-color: #93806b;
  --secondary-color: #cbbbab;
  --accent-color: #4a758b;
  --accent-bg: #d1e0e8;
  --text-color: #5c4f46;
  --bg-color: #fdf9f5;
  --sub-bg-color: #efe0d1;
}

/* layout setting */
section {
  padding-top: 100px;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
