.index-section
  .service-info-container
  .copyright-box
  .step-container
  .step-box
  .step-num
  .step-info-text-box
  .service-overview-container
  .deployments-list-container
  .deployment-box
  .project-name
  .domain-text
  .dashboard-container
  .disk-usage-box
  .graph-box
  .traffic-usage-box
  .resource-monitor-box
  .project-box
  .text-box
  .precent-num
  .progress-bar-box
  .fill-bar
  .total-bar {
}

.index-section {
  background: var(--bg-color);
  width: 100%;
  padding-top: 222px;
  padding-bottom: 100px;
}

.index-section .service-info-container {
  display: flex;
  padding-bottom: 145px;
  border-bottom: solid 1px var(--secondary-color);
}

.index-section .service-info-container .copyright-box {
  width: 488px;
}

.service-info-container .copyright-box h2 {
  font-size: 8.4rem;
  font-weight: 200;
  line-height: 10.6rem;
}

.service-info-container .step-container {
  width: calc(100% - 488px);
}

.step-container .step-box {
  display: flex;
  line-height: 6rem;
  margin-bottom: 20px;
}

.step-box .step-num {
  width: calc(100% - 590px);
  font-size: 2.4rem;
  line-height: inherit;
}

.step-box .step-info-text-box {
  width: 590px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-align: center;
  font-size: 2.4rem;
}

.step-box .step-info-text-box.first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3137;
  color: var(--bg-color);
  cursor: pointer;
}

.step-box .step-info-text-box.first i {
  margin-right: 18px;
  font-size: 3.6rem;
}

.step-box.last {
  margin-bottom: 0;
  cursor: pointer;
}

.index-section .service-overview-container {
  display: flex;
  gap: 20px;
  padding-top: 80px;
}

.service-overview-container .deployments-list-container {
  width: 387px;
}

.service-overview-container h3 {
  font-size: 3.6rem;
}

.deployments-list-container .deployments-list-box {
  margin-top: 10px;
  background-color: var(--accent-bg);
  padding: 23px 10px;
  border-radius: 16px;
}

.deployments-list-box .deployment-box {
  margin-bottom: 15px;
}

.deployments-list-box .deployment-box:last-child {
  margin-bottom: 0;
}

.deployments-list-box .deployment-box .project-name {
  font-size: 2.4rem;
  font-weight: 400;
}

.deployments-list-box .deployment-box .domain-text {
  font-size: 2rem;
}

.service-overview-container .dashboard-container {
  width: calc(100% - 387px - 20px); /* 전체 - deployment - gap */
}

.service-overview-container .monitor-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  background-color: var(--secondary-bg);
  padding: 10px 10px;
  border-radius: 16px;
}

.monitor-container div {
  flex: 1;
}

.monitor-container h4 {
  font-size: 2.4rem;
}

.monitor-container .usage-box {
  display: flex;
  justify-content: space-between;
}

.pie-chart {
  position: relative;
  width: 130px;
  aspect-ratio: 1 / 1;
  margin: 15px auto 0;
}

/* 전체 원 (테두리만) */
.pie-chart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  box-sizing: border-box;
}

/* 1/4 채워진 부분 */
.pie-chart::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border: 3px solid var(--primary-color);
  border-radius: 0 100% 0 0;
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
}

.index-section .text-box {
  display: flex;
  justify-content: space-between;
}

.index-section .project-box {
  margin-top: 12px;
}

.index-section .project-box:first-child {
  margin-top: 15px;
}

.index-section .progress-bar-box {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: var(--secondary-color); /* total-bar 배경 */
  border-radius: 4px;
  overflow: hidden;
}

.index-section .fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent-color);
  border-radius: 4px;
  width: 0;

  /* 애니메이션 */
  /* animation: fillUp 1.5s ease-out forwards;
  animation-delay: 0.3s; */
}

/* 애니메이션 */
@keyframes fillUp {
  from {
    width: 0%;
  }
  to {
    width: var(--fill-width);
  }
}
