.pricing-section
  .text-box
  .title
  .plan-container
  .plan-box
  .popular-badge
  .explanation-box
  .benefit-container
  .price-container
  .rpice
  .tbd
  .free
  .amount
  .period {
}

.pricing-section {
  padding-top: 150px;
  height: 100vh;
}

.pricing-section .text-box .title {
  font-size: 3rem;
  font-weight: 500;
}

.pricing-section .plan-container {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.pricing-section .plan-box {
  position: relative;
  top: 8px;
  flex: 1;
  background-color: #e2dad15b;
  border-radius: 16px;
  padding: 16px;
  transition: all 0.3s ease;
}

/* .pricing-section .plan-box:hover {
  top: 0;
  box-shadow: 0 0 6px 3px var(--accent-bg);
  background-color: var(--accent-bg);
} */

.pricing-section .plan-box:hover {
  background-color: #ffffff9d; /* 순백색 */
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(147, 128, 107, 0.233),
    0 0 0 1px rgba(203, 187, 171, 0.3); /* 섬세한 테두리 */
}

.pricing-section .plan-box .popular-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 3px 10px;
  border-radius: 16px;
  background-color: var(--accent-color);
  color: #fff;
}

.pricing-section .plan-box .title {
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
}

.pricing-section .plan-box .explanation-box {
  padding: 30px 0;
  line-height: 1.5;
  word-break: keep-all;
  height: 72px;
  box-sizing: content-box;
  border-bottom: solid 1px #afafaf;
}

.pricing-section .plan-box .benefit-container {
  padding: 20px 0;
  height: 184px;
}

.pricing-section .benefit-container li {
  line-height: 1.8;
}

.pricing-section .benefit-container li:before {
  content: "·";
  font-weight: bold;
  margin-right: 10px;
}

.pricing-section .price-container {
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
}
